{{- define "main" }}

<header class="page-header">
    <h1>{{ .Title }}</h1>
    {{- if .Params.hideMeta }}{{ else }}
    <div class="post-meta">
        {{- if .IsTranslated -}}
        <ul class="i18n_list">
            {{- i18n "translations" | default "Translations"}}: {{- range .Translations }}
            <li>
                <a href="{{ .Permalink }}">
                    {{- if (and $.Site.Params.displayFullLangName (.Language.LanguageName)) }}
                    {{- .Language.LanguageName | emojify | humanize -}}
                    {{- else }}
                    {{- .Lang | humanize -}}
                    {{- end -}}
                </a>
            </li>
            {{- end }}
        </ul>
        {{- end }}
    </div>
    {{- end}}
</header>

{{- if (.Content) -}}

<div class="blogPost">
    {{ .Content }}
</div>

{{- end -}}

{{- end }}{{/* end main */}}